/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
 html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    font-size: x-large;
    margin: 5px;
    
  }
  
  article {
    
  }
  
  h1 {
  font-size: xx-large;
  }
  
  h2 {
  
  }
  
  img {
      max-width: 100%;
      padding: 10px;
      
  }
  
  main {
    
  }
  
  section {
    
  }
  
  figure {
      margin: 0;
      
  }
  
  figcaption {
    font-size: .8em;
  }
  @media (min-width: 600px) {
      figure {
          max-width: 50%;
      }
      body {
          background-color: coral;
          font-size: large;
          margin: 10px;
      }
      main {
          display: flex;
          flex-direction: column;
                  
      }
      main section {
        display: flex;                
        flex-wrap: wrap;       
      }
  }
@media (min-width: 1000px) {
    body {
        display: flex;
        flex-direction: column;
        background-color: rgb(175, 18, 18);
        font-size: x-large;
        max-width: 80%;
        margin:auto;
    }
}
 
  